extends ../layout

block content
    .page-header.yeah
        h3 Sports list;

        each sport in sports
          div(class=sport.id)
            li= sport.name
            li= sport.type
            input(type='hidden', name='_csrf', id='_csrf', value=_csrf)
            button.btn.btn-danger(id=sport.id csrf=_csrf)
                | Delete

        else
          div
            li There are no values

        div
           li.show FuckOff

.